Thumbs.db
ehthumbs.db
Desktop.ini

# Total Commander
/history.ini
/wcx_ftp.ini
/tcwebdav.ini
/sftpplug.ini
/wincmd.key

*.exe
*.dll
*.dll64

*.wcx
*.wcx64
*.wdx
*.wdx64
*.wfx
*.wfx64
*.wlx
*.wlx64

*.bak
*.log
*.ttf

*.vxd
*.sys

*.db
*.br2
*.!sync

# language files
/Plugins/wfx/Registry/*.lng
/Plugins/wfx/Services2/Language/*.lng
/Plugins/wfx/Uninstaller64/Language/*.lng
/Plugins/wfx/VirtualPanel/Language/*.lng
/Plugins/wlx/Imagine/Language/*.lng
/utils/TC Plugman/Language/*.lng
!German.lng

/Plugins/wlx/slister/sumatrapdfcache

# want icons
!icons/*.dll
!Wcmicons.dll
!WCICONEX.DLL

# source folder
/Plugins/wdx/wdx_mediainfo/src/

/theme/filetype-samples/*
!/theme/filetype-samples/make.bat