# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/


# total commander
/history.ini
/wcx_ftp.ini
/tcwebdav.ini
/sftpplug.ini
/wincmd.key

*.exe
*.dll
*.dll64

*.wcx
*.wcx64
*.wdx
*.wdx64
*.wfx
*.wfx64
*.wlx
*.wlx64

*.bak
*.log
*.ttf

*.vxd
*.sys
*.lng
